body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Ajuste de altura mínima */
    margin: 0;
    padding: 10px;  /* Adiciona padding para evitar corte no mobile */
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 20px 0; /* Para ter espaço vertical no mobile */
    box-sizing: border-box;
}

form div, fieldset {
    margin-bottom: 15px;
    width: 100%;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#totalContainer {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
}

/* Media queries para tornar o layout responsivo */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        width: 95%;
    }

    table, th, td {
        font-size: 12px;
    }

    th, td {
        padding: 6px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }

    #totalContainer {
        font-size: 16px;
    }

    input, textarea {
        padding: 6px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    button {
        width: 100%;
        margin-top: 5px;
    }

    #totalContainer {
        font-size: 14px;
    }

    fieldset {
        padding: 5px;
    }
}